*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
    position: relative;
}

.showcase {
    background-image: url('../assets/img/background_desktop.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(105,105,105,.8);
    width: 100%;
    height: 100vh;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    width: 600px;
    height: 250px;
    background: #ffffff;
    border-radius: 5px;
}

#container_result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

